.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f7c9db;
  width: 15vw;
  height: 80vh;
  left: 0px;
  padding: 10px;
  z-index: 2;
  .dropdown-item {
    display: flex;
    width: inherit;
    z-index: 2;
    height: 40px;
    line-height: 40px;
    width: auto;
    background-color: #f7c9db;
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;

    &:hover {
      background-color: #faf3f6;
      color: red;
    }
  }
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
}
