$font-stack: Arial, Helvetica, sans-serif;
$main-backgroundColor: azure;

.App {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: $main-backgroundColor;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

.btn.btn-link {
  background-color: #f7c9db;
  flex: 1%;
  height: inherit;
  color: black;
  border: 0;
}

.mainPageImg {
  width: 100%;
  height: 576px;
}

.mainPageImg > img {
  width: inherit;
  height: 570px;
}

.goods-abovemenu {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  width: 100vw;
  border: 2px solid black;
  text-align: center;
}

.goodsname {
  width: 100vw;
  border: 2px solid black;
  text-align: center;
}

.containerGoodPageFull {
  display: flex;
  background-color: $main-backgroundColor;
  width: 100%;
  height: 100%;

  .photosWithDescription {
    flex: 60%;

    .imagesSection {
      width: 100%;
    }

    .bigImage {
      text-align: center;
      background-color: #faf3f6;
      img {
        padding: 20px 0;
        width: 400px;
        height: 400px;
      }
    }

    .smallImages {
      display: flex;
      background-color: #faf3f6;
      text-align: center;
      width: inherit;
      height: 20%;
      justify-content: center;
      overflow: hidden;
      a {
        display: flex;
        justify-content: center;
        img {
          width: 100px;
          height: 130px;
          padding: 0;
          margin: 0 2px;
        }
      }
    }
  }

  .description_container {
    width: 80%;
    margin-top: 10px;
    background-color: $main-backgroundColor;
  }
  .leaveCommentForm_container {
    margin-top: 20px;
    background-color: $main-backgroundColor;
    .emailForm {
      width: 50%;
    }
    .nickNameForm {
      width: 50%;
    }
    .commentForm {
      width: 70%;
    }
  }
}

.description_and_reviews_buttons {
  width: 50%;
  margin-bottom: 0;
  margin-top: 5px;

  .switchDescription {
    display: inline-block;
    text-align: center;
    border: none;
    font-weight: bolder;
    height: 50px;
    background-color: $main-backgroundColor;
    width: 50%;
  }
  .switchReviews {
    display: inline-block;
    height: 50px;
    text-align: center;
    border: none;
    font-weight: bolder;
    background-color: $main-backgroundColor;
    width: 50%;
  }
  .on {
    border-top: 2px solid grey;
    box-sizing: border-box;
  }
}

.product_menu_right_column_container {
  flex: 40%;

  .product_menu_right_column {
    display: flex;
    position: fixed;
    margin-top: 20px;
    margin-right: 50px;
    border: 1px solid black;
    flex-direction: column;

    .product_menu_header_and_articul {
      display: flex;
      width: inherit;
      flex-direction: row;
      height: inherit;
    }
    .price_and_buttons_container {
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      .buy_buttons_sections {
        justify-content: space-between;
        width: 45%;
        button {
          display: inline-block;
        }
      }
    }
  }
}
