.login {
  position: absolute;
  opacity: 1;
  z-index: 1000;
  height: auto;
  width: auto;
  margin-left: 40%;
  margin-top: 100px;
  border: none;

  .cardbody {
    min-width: 400px;
    background-color: rgb(214, 224, 214);
  }

  .switchButtons {
    display: flex;
    background-color: rgb(214, 224, 214);
    width: 400px;

    .switchLoginOn {
      width: 30%;
      background-color: azure;
      height: 40px;
      border-radius: 1px;
      border: none;
      font-weight: bold;
      border-top: 3px solid rgb(228, 10, 134);
      box-sizing: border-box;
    }

    .switchLoginOff {
      width: 30%;
      background-color: azure;
      height: 40px;
      border-radius: 1px;
      border: none;
      font-weight: bold;
      box-sizing: border-box;
    }

    .switchSingUp {
      width: 30%;
      border-radius: 1px;
      border: none;
      font-weight: bold;
    }
  }
}

.loginTabBackground {
  position: absolute;
  background-color: black;
  z-index: 1;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
  max-width: auto;
  max-height: auto;
}
